@use '../../../scss/mixins';
@use '../../../scss/reset';
@use '../../../scss/vars';

.section3 {
    @include mixins.flex(row, center, center, 145px);
    padding: 129px 40px;
    &-textbox {
        @include mixins.flex(column, flex-start, flex-start, 76px);
        &__title {
            @include mixins.PlusJakartaSans(60px, 400, 65px);
            color: vars.$fourth-color;
            width: 70%;
        }
        &__text {
            @include mixins.PlusJakartaSans(21px, 400, 33px);
            color: vars.$fourth-color;
            width: 65%;
        }
    }
}